.book-modal-background{
    background: radial-gradient(at top left, rgba(43,9,107,1) 0%, rgba(146,43,225,1) 100%);
    background-repeat: no-repeat;
    padding-bottom: 15px;
}

.book-modal-title-grid {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "title rating";
    gap: 0px 15px;

    .book-modal-title-text {
        grid-area: title;
    }

    .book-modal-rating {
        grid-area: rating;
        justify-self: end;
        align-self: center;
    }
}